.darken-3{
    color:white;
}
.container{
    padding:5px;
    border: 2px solid teal;
    border-radius: 5px;
}
#blaine{
    max-width: 90%;
    height:auto;
}
.img-holder{
    text-align:center;
}
.lighten-2{
    padding-top:20px;
    padding-bottom:20px;
    font-size: 200%;
    font-weight: bold;
}